<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-search"></i></div>
                    <input #input (keyup)="buscarRegistro(input.value)" type="text" class="form-control" placeholder="Buscar registro">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row el-element-overlay">
                    <div *ngFor="let registro of registros" class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img [src]="registro.img | imagen:'darwinCore'" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li><a class="btn btn-outline popup-modal" [routerLink]="['/photostream', registro._id]"><i class="icon-magnifier"></i></a></li>
                                            <!-- <li><a class="btn btn-outline popup-gmaps" href="https://maps.google.com/maps?q=4%C2%B034'02.2%22N+75%C2%B057'45.3%22W"><i class="icon-map"></i></a></li> -->
                                            <li><a class="btn btn-outline popup-gmaps" (click)="googleMap(registro.verbatimLatitude, registro.verbatimLongitude)"><i class="icon-map"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <h3 class="box-title">{{ registro.catalogNumber }}</h3> <small>{{ registro.family }}</small>
                                    <br/> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a (click)="cambiarDesde(-50)" class="page-link pointer">Anteriores</a>
                        </li>
                        <li *ngFor="let pagina of paginas" class="page-item">
                            <a class="page-link pointer" (click)="cambiarPagina(pagina, 50)">{{ pagina }}</a>
                        </li>
                        <li class="page-item">
                            <a (click)="cambiarDesde(50)" class="page-link pointer">Siguientes</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>