<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="inline">
                    <div class="card-body">
                        <button routerLink="/gallery2" type="button" class="btn btn-secondary m-r-10 m-b-10" title="Volver"><i class="mdi mdi-arrow-left-bold font-18"></i></button>
                        <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                            <button (click)="obtenerAnterior(registro._id)" type="button" class="btn btn-secondary font-18" title="Anterior"><i class="mdi mdi-chevron-left"></i></button>
                            <button (click)="obtenerSiguiente(registro._id)" type="button" class="btn btn-secondary font-18" title="Siguiente"><i class="mdi mdi-chevron-right"></i></button>
                        </div>
                        <button *ngIf="usuario.role === 'ADMIN_ROLE'" routerLink="/configuracion" type="button" class="btn btn-secondary m-r-10 m-b-10" title="Configuración"><i class="mdi mdi-settings font-18"></i></button>
                    </div>
                    <div style="text-align: center;">
                        <img width="30%" [src]="registro.img | imagen:'darwinCore'" />
                    </div>
                    <section>
                        <br>
                        <br>
                        <p style="margin: 0;"><strong>{{ registro.catalogNumber }}</strong></p>
                        <!-- <p *ngIf="metadatos[0].visible" style="margin: 0;"><strong>{{ metadatos[0].nombre }}:</strong> {{ asignarNombre(registro.subgenus, registro.infraspecificEpithet, registro.vernacularName) }}</p>
                        <p *ngIf="metadatos[1].visible" style="margin: 0;"><strong>{{ metadatos[1].nombre }}:</strong> {{ registro.recordedBy }}</p>
                        <p *ngIf="metadatos[2].visible" style="margin: 0;"><strong>{{ metadatos[2].nombre }}:</strong> {{ registro.country }}</p>
                        <p *ngIf="metadatos[3].visible" style="margin: 0;"><strong>{{ metadatos[3].nombre }}:</strong> {{ registro.stateProvince }}</p>
                        <p *ngIf="metadatos[4].visible" style="margin: 0;"><strong>{{ metadatos[4].nombre }}:</strong> {{ registro.county }}</p> -->

                        <!-- <div *ngFor="let metadato of metadatos">
                            <p *ngIf="metadato.visible" style="margin: 0;"><strong>{{ metadato.nombre }}:</strong> {{ metadato.campo }}</p>
                            <p *ngIf="!metadato.visible" style="margin: 0;" hidden><strong>{{ metadato.nombre }}:</strong></p>
                        </div> -->
                    </section>
                    <!-- <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.148725353485!2d-75.96477198523822!3d4.567277796681738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNMKwMzQnMDIuMiJOIDc1wrA1Nyc0NS4zIlc!5e0!3m2!1ses-419!2sco!4v1581475042619!5m2!1ses-419!2sco"
                            width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div> -->
                </div>
                <div>
                    <hr>
                </div>
                <div class="comment-widgets">
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2"><span class="round"><img [src]="usuario.img | imagen" alt="user" width="50"></span></div>
                        <form #f="ngForm" class="comment-text w-100" (ngSubmit)="comentar(f)">
                            <textarea [(ngModel)]="defaultValue" class="form-control" name="texto" placeholder="Añade un comentario..."></textarea>
                            <button [disabled]="f.value.texto === ''" type="submit" class="btn btn-info float-right">Comentar</button>
                        </form>
                    </div>
                    <div *ngIf="fotografia">
                        <div *ngFor="let comentario of fotografia.comentarios">
                            <div class="d-flex flex-row comment-row">
                                <div class="p-2"><a [routerLink]="['/perfiles', comentario.autor._id]"><span class="round"><img [src]="comentario.autor.img | imagen" alt="user" width="50"></span></a></div>
                                <div class="comment-text w-100">
                                    <a [routerLink]="['/perfiles', comentario.autor._id]">
                                        <h5>{{ comentario.autor.nombre }}</h5>
                                    </a>
                                    <p *ngIf="!editar" class="m-b-5">{{ comentario.texto }}</p>
                                    <textarea *ngIf="editar" (keydown)="guardarCambios($event, comentario)" class="form-control">{{ comentario.texto }}</textarea>
                                    <div class="comment-footer">
                                        <span>
                                            <bar-rating *ngIf="usuario.role === 'ADMIN_ROLE'" rate="{{ comentario.puntuacion }}" [max]="5" [theme]="'default'" (rateChange)="calificarComentario($event, comentario)"></bar-rating>
                                            <bar-rating *ngIf="usuario.role !== 'ADMIN_ROLE'" rate="{{ comentario.puntuacion }}" [max]="5" [theme]="'default'" [readOnly]="true"></bar-rating>
                                        </span>
                                        <span class="action-icons">
                                            <a *ngIf="comentario.autor._id === usuario._id" (click)="editarComentario()" title="Editar"><i class="ti-pencil"></i></a>
                                            <a *ngIf="comentario.autor._id === usuario._id" (click)="removerComentario(comentario._id)" title="Eliminar"><i class="ti-trash"></i></a>
                                        </span>
                                        <span class="text-muted pull-right">{{ comentario.fecha }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>