<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-search"></i></div>
                    <input #input (keyup)="buscarRegistro(input.value)" type="text" class="form-control" placeholder="Buscar registro">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                                <i class="fa fa-plus"></i>
                                Nuevo registro
                            </button>
                </div>

                <h3 class="card-title">Número de registros: {{ totalRegistros }}</h3>

                <table class="table nowrap table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>eventID</th>
                            <th>parentEventID</th>
                            <th>fieldNumber</th>
                            <th>eventDate</th>
                            <th>eventTime</th>
                            <th>startDayOfYear</th>
                            <th>endDayOfYear</th>
                            <th>year</th>
                            <th>month</th>
                            <th>day</th>
                            <th>verbatimEventDate</th>
                            <th>habitat</th>
                            <th>samplingProtocol</th>
                            <th>sampleSizeValue</th>
                            <th>sampleSizeUnit</th>
                            <th>samplingEffort</th>
                            <th>fieldNotes</th>
                            <th>eventRemarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let registro of registros">
                            <td>{{ registro.eventID }}</td>
                            <td>{{ registro.parentEventID }}</td>
                            <td>{{ registro.fieldNumber }}</td>
                            <td>{{ registro.eventDate }}</td>
                            <td>{{ registro.eventTime }}</td>
                            <td>{{ registro.startDayOfYear }}</td>
                            <td>{{ registro.endDayOfYear }}</td>
                            <td>{{ registro.year }}</td>
                            <td>{{ registro.month }}</td>
                            <td>{{ registro.day }}</td>
                            <td>{{ registro.verbatimEventDate }}</td>
                            <td>{{ registro.habitat }}</td>
                            <td>{{ registro.samplingProtocol }}</td>
                            <td>{{ registro.sampleSizeValue }}</td>
                            <td>{{ registro.sampleSizeUnit }}</td>
                            <td>{{ registro.samplingEffort }}</td>
                            <td>{{ registro.fieldNotes }}</td>
                            <td>{{ registro.eventRemarks }}</td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-50)" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarDesde(50)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>