<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-search"></i></div>
                    <input #input (keyup)="buscarRegistro(input.value)" type="text" class="form-control" placeholder="Buscar registro">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"></i>
                        Nuevo registro
                    </button>
                </div>

                <h3 class="card-title">Número de registros: {{ totalRegistros }}</h3>

                <table class="table nowrap table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>resourceRelationshipID</th>
                            <th>resourceID</th>
                            <th>relatedResourceID</th>
                            <th>relationshipOfResource</th>
                            <th>relationshipAccordingTo</th>
                            <th>relationshipEstablishedDate</th>
                            <th>relationshipRemarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let registro of registros">
                            <td>{{ registro.resourceRelationshipID }}</td>
                            <td>{{ registro.resourceID }}</td>
                            <td>{{ registro.relatedResourceID }}</td>
                            <td>{{ registro.relationshipOfResource }}</td>
                            <td>{{ registro.relationshipAccordingTo }}</td>
                            <td>{{ registro.relationshipEstablishedDate }}</td>
                            <td>{{ registro.relationshipRemarks }}</td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-50)" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarDesde(50)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>