<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form ngNativeValidate [formGroup]='forma' (ngSubmit)="actualizarPassword()" class="form p-t-20">
                    <div class="form-group">
                        <label>Contraseña actual</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" formControlName="password" name="password" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nueva contraseña</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" formControlName="newPassword" name="newPassword" class="form-control" required>
                        </div>
                        <small *ngIf="forma['errors']?.esValida && !forma.value.newPassword" class="form-control-feedback"> Mínimo 8 caracteres. Combina letras, números y caracteres especiales.</small>
                        <small *ngIf="forma['errors']?.esValida && forma.value.newPassword && forma.invalid" class="form-control-feedback text-danger"> La contraseña no es válida.</small>
                        <small *ngIf="forma['errors']?.sonDistintas && !forma.pristine" class="form-control-feedback text-danger"> La nueva contraseña debe ser distinta a la actual.</small>
                    </div>
                    <div class="form-group">
                        <label>Confirmar contraseña</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" formControlName="confirmPassword" name="confirmPassword" class="form-control" required>
                        </div>
                        <small *ngIf="forma['errors']?.sonIguales && !forma.pristine" class="form-control-feedback text-danger"> Las contraseñas no coinciden.</small>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                        <a (click)="goBack()" class="btn btn-inverse waves-effect waves-light" style="color: white;">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>