<div class="row animated fadeIn">
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/background/socialbg2.jpg" alt="Card image" style="max-height:450px;">
            <div class="card-img-overlay card-inverse social-profile d-flex">
                <div class="align-self-center" style="margin-left: auto; margin-right: auto;"> <img [src]="usuario.img | imagen" class="img-circle" width="100">
                    <h4 class="card-title">{{ usuario.nombre }}</h4>
                    <h6 class="card-subtitle">{{ usuario.ocupacion }}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Información</h3>
                <hr class="m-t-0 m-b-40">
                <div class="table-responsive">
                    <table class="table m-b-0  m-t-30 no-border">
                        <tbody>
                            <tr>
                                <td style="width:90px;"><i class="mdi mdi-phone mdi-48px text-info"></i></td>
                                <td>
                                    <small>Teléfono</small>
                                    <h6>{{ usuario.telefono }}</h6>
                                </td>
                                <td style="width:90px;">
                                    <i *ngIf="usuario.interes === 'Amateur'" class="mdi mdi-glasses mdi-48px text-info"></i>
                                    <i *ngIf="usuario.interes === 'Académico'" class="mdi mdi-school mdi-48px text-info"></i>
                                    <i *ngIf="usuario.interes === 'Científico'" class="mdi mdi-flask-outline mdi-48px text-info"></i>
                                </td>
                                <td>
                                    <small>Interés</small>
                                    <h6>{{ usuario.interes }}</h6>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:90px;"><i class="mdi mdi-email-outline mdi-48px text-info"></i></td>
                                <td>
                                    <small>Email</small>
                                    <h6>{{ usuario.email }}</h6>
                                </td>
                                <td style="width:90px;"><i class="mdi mdi-bank mdi-48px text-info"></i></td>
                                <td>
                                    <small>Institución</small>
                                    <h6>{{ usuario.institucion }}</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 align-self-center text-right">
                        <button (click)="goBack()" type="button" class="btn btn-inverse waves-effect waves-light">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>