<div id="main-wrapper" class="animated fadeIn">
    <header class="header sticky">
        <b>
        <img src="../assets/images/icono-claro.png" class="dark-logo" />
    </b>
        <a routerLink="/home"><img src="../assets/images/logo-claro.png" title="Databio" class="dark-logo" /></a>
        <div class="button-group" style="float: right;">
            <input routerLink="/login" type="button" class="btn btn-olive" value="Iniciar Sesión">
            <input routerLink="/register" type="button" class="btn btn-olive" value="Registrarse">
        </div>
    </header>
    <div class="container-fluid">
        <br>
        <br>
        <br>
        <div class="row el-element-overlay">
            <div *ngFor="let registro of registros" class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1">
                            <img [src]="registro.associatedMedia | imagen:'darwinCore'" alt="user" />
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li><a class="btn btn-outline popup-modal" href="#"><i class="icon-magnifier"></i></a></li>
                                    <li><a class="btn btn-outline popup-gmaps" href="https://maps.google.com/maps?q=4%C2%B034'02.2%22N+75%C2%B057'45.3%22W"><i class="icon-map"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h3 class="box-title">{{ registro.catalogNumber }}</h3> <small>{{ registro.family }}</small>
                            <br/> </div>
                    </div>
                </div>

                <!-- <div #modal class="mfp-hide white-popup-block">
                    <p align="right"><a class="popup-modal-dismiss" href="#"><i class="icon-close"></i></a></p>
                    <img style="display: inline-block; padding: 8px;" src="../assets/images/big/planta1.jpg" width="50%">
                    <div style="display: inline-block; padding: 8px">
                        <h5><strong>TULV16756</strong></h5>
                        <p>Nombre: Piper<br/> Colectado por: C. M. Taylor<br/> País: Colombia<br/> Departamento: Valle del Cauca<br/> Municipio: Buenaventura<br/></p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <footer class="footer text-center">© {{ anio }} Databio.</footer>
</div>