<div class="animated fadeIn">
    <header class="header sticky">
        <b>
            <img src="../assets/images/icono-claro.png" class="dark-logo" />
        </b>
        <img src="../assets/images/logo-claro.png" title="Databio" class="dark-logo" />
        <div class="button-group" style="float: right;">
            <input routerLink="/login" type="button" class="btn btn-olive" value="Iniciar Sesión">
            <input routerLink="/register" type="button" class="btn btn-olive" value="Registrarse">
        </div>
    </header>
    <section>
        <h1>Galería de Biodiversidad</h1>
        <p>Descubre la riqueza que te rodea.</p>

        <button routerLink="/gallery" type="button" class="btn">Ver Galería</button>
    </section>
    <section>
        <h2>Jardín Botánico Juan María Céspedes</h2>
        <p>El piedemonte de la Cordillera Central de Tulúa, guarda un tesoro destinado para investigadores, científicos, amantes de la flora y la fauna y del paisaje que ofrecen los bosques secos tropicales.</p>
        <footer class="footer text-center">© {{ anio }} Databio.</footer>
    </section>
</div>