<section class="animated fadeIn">
    <div class="login-register" style="background-image:url(../assets/images/background/jardin2.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form ngNativeValidate class="form-horizontal form-material">
                    <h3 class="box-title m-b-20">Recuperar Contraseña</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" placeholder="Correo" required>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12">
                            <button class="btn btn-olive btn-lg btn-block text-uppercase" type="submit">Restablecer</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            Volver al<a routerLink="/login" class="olive m-l-5"><b>Inicio de Sesión</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>