section {
    width: 100%;
    height: 100vh;
    background: #669104;
    padding: 5em;
    box-sizing: border-box;
    color: white;
}

h1 {
    margin: 1em 0 0 0;
    font-size: 3.1em;
    color: white;
    font-weight: bold;
}

p {
    font-size: 1.4em;
    margin: 0;
    font-weight: bold;
}

button {
    margin-top: 50px;
    padding: 1em;
    background: #356402;
    border: none;
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

h2 {
    color: #669104;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
}

section:nth-of-type(2) {
    background: white;
    position: absolute;
}

section:nth-of-type(2) p {
    color: gray;
    font-weight: 300;
    width: 70%;
}

.header {
    padding: 10px 16px;
    background: #242a33;
    color: #f1f1f1;
}

.bigger-section {
    height: 150vh;
}