<header class="header topbar">
    <a routerLink="/home">
        <b><img src="../assets/images/icono-claro.png" class="dark-logo" /></b>
        <span><img src="../assets/images/logo-claro.png" title="Databio" class="dark-logo" /></span>
    </a>
    <div style="float: right;">
        <ul class="nav">
            <li><a class="nav-link" style="color: #ffffff;" routerLink="/home"><strong>Inicio</strong></a></li>
            <li><a class="nav-link" style="color: #ffffff;" routerLink="/aboutUs"><strong>¿Quienes somos?</strong></a></li>
            <li><a class="nav-link" style="color: #ffffff;" routerLink="/gallery"><strong>Galería</strong></a></li>
            <li><a class="nav-link" style="color: #ffffff;" routerLink="/login"><strong>Iniciar Sesión</strong></a></li>
            <li><a class="nav-link" style="color: #ffffff;" routerLink="/register"><strong>Registrarse</strong></a></li>
        </ul>
    </div>
</header>
<div class="animated fadeIn">
    <section class="bigger-section">
        <h1>Galería de Biodiversidad</h1>
        <p>Descubre la riqueza que te rodea.</p>

        <button routerLink="/gallery" type="button" class="btn">Ir a Galería</button>

        <img src="../assets/images/background/bg1.png" class="scroll" data-rate="-0.1" data-direction='vertical' style="position: absolute; width: 100%; bottom: -24%; left: 0;" />
        <img src="../assets/images/background/bg2.png" class="scroll" data-rate="-0.4" data-direction='vertical' style="position: absolute; width: 100%; bottom: -28%; left: 0;" />
        <img src="../assets/images/background/bg3.png" class="scroll" data-rate="-0.8" data-direction='vertical' style="position: absolute; width: 100%; bottom: -74%; left: 0;" />
        <img src="../assets/images/background/bg4.png" class="scroll" data-rate="-1.2" data-direction='vertical' style="position: absolute; width: 100%; bottom: -78%; left: 0;" />
    </section>
    <section>
        <h2>Jardín Botánico Juan María Céspedes</h2>
        <table>
            <tr>
                <td>
                    <p style="text-align: justify;">El piedemonte de la Cordillera Central de Tulúa, guarda un tesoro destinado para investigadores, científicos, amantes de la flora y la fauna y del paisaje que ofrecen los bosques secos tropicales.</p>
                </td>
                <td><img width="100%" src="../assets/images/inciva-h.png"></td>
            </tr>
        </table>
        <footer class="footer text-center">© {{ anio }} Databio.</footer>
    </section>
</div>