<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-search"></i></div>
                    <input #input (keyup)="buscarRegistro(input.value)" type="text" class="form-control" placeholder="Buscar registro">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                                <i class="fa fa-plus"></i>
                                Nuevo registro
                            </button>
                </div>

                <h3 class="card-title">Número de registros: {{ totalRegistros }}</h3>

                <table class="table nowrap table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>organismID</th>
                            <th>organismName</th>
                            <th>organismScope</th>
                            <th>associatedOccurrences</th>
                            <th>associatedOrganisms</th>
                            <th>previousIdentifications</th>
                            <th>organismRemarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let registro of registros">
                            <td>{{ registro.organismID }}</td>
                            <td>{{ registro.organismName }}</td>
                            <td>{{ registro.organismScope }}</td>
                            <td>{{ registro.associatedOccurrences }}</td>
                            <td>{{ registro.associatedOrganisms }}</td>
                            <td>{{ registro.previousIdentifications }}</td>
                            <td>{{ registro.organismRemarks }}</td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-50)" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarDesde(50)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>