<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-search"></i></div>
                    <input #input (keyup)="buscarRegistro(input.value)" type="text" class="form-control" placeholder="Buscar registro">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                                <i class="fa fa-plus"></i>
                                Nuevo registro
                            </button>
                </div>

                <h3 class="card-title">Número de registros: {{ totalRegistros }}</h3>

                <table class="table nowrap table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>geologicalContextID</th>
                            <th>earliestEonOrLowestEonothem</th>
                            <th>latestEonOrHighestEonothem</th>
                            <th>earliestEraOrLowestErathem</th>
                            <th>latestEraOrHighestErathem</th>
                            <th>earliestPeriodOrLowestSystem</th>
                            <th>latestPeriodOrHighestSystem</th>
                            <th>earliestEpochOrLowestSeries</th>
                            <th>latestEpochOrHighestSeries</th>
                            <th>earliestAgeOrLowestStage</th>
                            <th>latestAgeOrHighestStage</th>
                            <th>lowestBiostratigraphicZone</th>
                            <th>highestBiostratigraphicZone</th>
                            <th>lithostratigraphicTerms</th>
                            <th>group</th>
                            <th>formation</th>
                            <th>member</th>
                            <th>bed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let registro of registros">
                            <td>{{ registro.geologicalContextID }}</td>
                            <td>{{ registro.earliestEonOrLowestEonothem }}</td>
                            <td>{{ registro.latestEonOrHighestEonothem }}</td>
                            <td>{{ registro.earliestEraOrLowestErathem }}</td>
                            <td>{{ registro.latestEraOrHighestErathem }}</td>
                            <td>{{ registro.earliestPeriodOrLowestSystem }}</td>
                            <td>{{ registro.latestPeriodOrHighestSystem }}</td>
                            <td>{{ registro.earliestEpochOrLowestSeries }}</td>
                            <td>{{ registro.latestEpochOrHighestSeries }}</td>
                            <td>{{ registro.earliestAgeOrLowestStage }}</td>
                            <td>{{ registro.latestAgeOrHighestStage }}</td>
                            <td>{{ registro.lowestBiostratigraphicZone }}</td>
                            <td>{{ registro.highestBiostratigraphicZone }}</td>
                            <td>{{ registro.lithostratigraphicTerms }}</td>
                            <td>{{ registro.group }}</td>
                            <td>{{ registro.formation }}</td>
                            <td>{{ registro.member }}</td>
                            <td>{{ registro.bed }}</td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-50)" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarDesde(50)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>