#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w70 {
    width: 70;
}

.w150 {
    width: 150px;
}

.img-50 {
    width: 50px;
}

.olive {
    color: #669104;
}

.olive:hover {
    color: #517204;
}

.btn-olive,
.btn-olive.disabled {
    background: #669104;
    border: 1px solid #669104;
    color: #ffff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.btn-olive:hover,
.btn-olive.disabled:hover {
    background: #669104;
    border: 1px solid #669104;
    color: #ffff;
    -webkit-box-shadow: 0 14px 26px -12px #425c05, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
    box-shadow: 0 14px 26px -12px #425c05, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}

.btn-olive.active,
.btn-olive:active,
.btn-olive:focus,
.btn-olive.disabled.active,
.btn-olive.disabled:active,
.btn-olive.disabled:focus {
    background: #86ad28;
    color: #ffff;
    -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
    box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
    border-color: transparent;
}

.btn-olive.active.focus,
.btn-olive.active:focus,
.btn-olive.active:hover,
.btn-olive.focus:active,
.btn-olive:active:focus,
.btn-olive:active:hover,
.open>.dropdown-toggle.btn-olive.focus,
.open>.dropdown-toggle.btn-olive:focus,
.open>.dropdown-toggle.btn-olive:hover,
.btn-olive.focus,
.btn-olive:focus,
.show>.btn-olive.dropdown-toggle {
    background-color: #86ad28;
    border: 1px solid #86ad28;
    color: #ffff;
}